body {background-color: #3A5E16;}
h1{color: #5B45B0;
font-family: Futura;
font-size: 45px;
background-color: #7AB045;
text-align: center;
padding: 15px;
margin-left: 200px;
margin-right: 200px;}
p{color: #74E800;
font-family: Helvetica;
font-size: 18px;}
img{border-style: double;
border-width: 10px;
border-color: #040503;
}

a{text-decoration: none;
font-family: Helvetica;
font-size: 24px;
color: #74E800;
padding: 30px;
}

a:hover{color: white;
font-size: 32px;}

li{list-style: none;
float: left;
background-color: #7AB045;
margin-top: 50px;
}

ul{text-align: center;}